<div class="container">
  <h1>Test Automation</h1>
  <p>
    Testing code automatically is essential, especially as the complexity of a
    program increases. I have experience in writing unit tests using modules such as <a
      href="https://github.com/facebook/jest">Jest</a> and <a href="https://github.com/mochajs/mocha">Mocha</a>.
    <br><br>
    Unit tests are great, but to really test how the end user experiences software I like to write end-to-end tests.
    My favourite framework to achieve this goal is Cypress.io. I have used it in the past to write automated E2E tests
    for a web application using JavaScript. Below is a short snippet of my work.
  </p>

  <video id="video-box" controlslist="nodownload noremoteplayback" controls="" loop="" muted=""
    src="assets/video/snippetcypress.mov"></video>
</div>