<div class="container">
    <h1>Browser Game</h1>
    <p>
        This is a small game fully playable in your browser (1-2 players). The purpose of the game is to survive and
        accumulate points for as long as possible. You have 2 types of obstacles in your way: enemies and the time
        limit. Enemies can simply be avoided, while you have to extend the time limit yourself by collecting green
        clocks.

        Note: currently only keyboard controls are supported.
    </p>
    <div id="game-div">
        <canvas id="game-canvas" data-processing-sources="assets/bluehat/bluehat.pde" width="1280" height="720">
        </canvas>
    </div>

    <p style="text-align:right">Assets retrieved from <a href="https://opengameart.org/">Open Game Art</a></p>
</div>